.form-container {
    background-color: #ffffff;
    padding: 2.5rem 2rem;
    border-radius: var(--border-radius-large);
    width: 100%;
    max-width: 450px; 
    max-height: fit-content;
}

.form-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-dark);
    /* Градиент для заголовка */
    background: -webkit-linear-gradient(45deg, var(--color-primary-dark), var(--color-primary-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 1.5rem 0;
    text-align: center;
}

.error {
    background-color: #ffdddd;
    color: var(--color-primary-dark);
    padding: 10px 15px;
    border-radius: 15px; 
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 500;
    border: 1px solid var(--color-primary-light);
}

.link {
    text-align: center;
    margin-top: 1.5rem;
}

.link a {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
}

.link a:hover {
    color: var(--color-primary-light);
    text-decoration: underline;
}

.form-input {
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text-dark);
    background-color: #f3f4f6;
    border: 2px solid #e5e7eb;
    border-radius: var(--border-radius-large); 
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    outline: none;
    box-sizing: border-box; 
    margin-bottom: 1rem;
}
.form-input:focus {
    border-color: var(--color-primary-light);
    box-shadow: 0 0 0 3px rgba(253, 41, 123, 0.3);
    background-color: #ffffff;
}

.btn-primary {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-text-light);
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 0.5rem;

    background-image: linear-gradient(to right, var(--color-primary-dark) 0%, var(--color-primary-light) 100%);
    border-radius: var(--border-radius-large);
    box-shadow: 0 8px 15px rgba(253, 41, 123, 0.4);

}