* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

:root {
    --color-primary-light: #FF5864;
    --color-primary-dark: #FD297B; 
    --color-text-light: #ffffff;
    --color-text-dark: #333333;
    --border-radius-large: 30px;
}

.container{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
}