<div class="header">
    <div class="logo">Simple Tinder</div>
    <div class="user-info">
        {{#if userName}}
            <span>Привет, {{userName}}!</span>
        {{/if}}
        <button class="btn-logout" id="logoutBtn">Выйти</button>
    </div>
</div>