<div class="container">
    <div class="form-container">
        <h1 class="form-title">Регистрация</h1>
        
        {{#if error}}
        <div class="error">{{error}}</div>
        {{/if}}
        
        <form id="registerForm">
            <input type="text" id="name" class="form-input" placeholder="Имя" required>
            <input type="number" id="age" class="form-input" placeholder="Возраст" min="18" max="100" required>
            <input type="email" id="email" class="form-input" placeholder="Email" required>
            <input type="password" id="password" class="form-input" placeholder="Пароль" minlength="6" required>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        
        <div class="link">
            <a href="/login" data-link>Уже есть аккаунт? Войти</a>
        </div>
    </div>
</div>