<section class='settings-page'>
    <div class='settings-shell' id='settingsShell'>
        <aside class='settings-shell__sidebar' id='settingsMenuContainer'></aside>
        <h1 class='settings-shell__title'>Настройки</h1>
        <section class='settings-shell__content'>
            <div class='settings-shell__top'>
                <button class='settings-shell__back' id='settingsMobileBack'>
                    ← Назад
                </button>

            </div>
            <div class='settings-content' id='settingsContent'></div>
        </section>
    </div>
</section>