<nav class="settings-sidebar">
    <h2 class="settings-title">Настройки</h2>

    <ul class="menu-list">
        {{#each menuItems}}
            <li class="menu-item {{#if isActive}}active{{/if}}" data-tab="{{tab}}">
                <a href="#" class="menu-link">
                    {{!-- <svg c width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        {{{icon}}}
                    </svg> --}}
                    <img src="{{ icon }}" lass="menu-icon" alt="">
                    {{name}}

                    
                </a>
            </li>
        {{/each}}
    </ul>
</nav>
