<div class="header-container"></div>

<div class="container">
    <div class="form-container">
        <h1 class="form-title">Регистрация</h1>
        
        <form id="registerForm" novalidate>
            <div class="input-wrapper">
                <input type="email" id="email" class="form-input" placeholder="Email">
            </div>
            <div class="input-wrapper password-wrapper">
                <input type="password" id="password" class="form-input" placeholder="Пароль">
                <button type="button" class="password-toggle" aria-label="Показать пароль">
                    <img src="./src/assets/Eyes/close_eye.svg" alt="Показать пароль" class="eye-icon">
                </button>
            </div>
            <div class="input-wrapper password-wrapper">
                <input type="password" id="passwordConfirm" class="form-input" placeholder="Подтвердите пароль">
                <button type="button" class="password-toggle" aria-label="Показать пароль">
                    <img src="./src/assets/Eyes/close_eye.svg" alt="Показать пароль" class="eye-icon">
                </button>
            </div>
            
            <div class="error-message" style="display: none;"></div>
            
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        
        <div class="link">
            Уже есть аккаунт? <a href="/login" Link> Войти</a>
        </div>
    </div>
</div>