.match-card {
    width: 100%;
    max-width: 203px;
    aspect-ratio: 203 / 275;
    border-radius: var(--border-radius-large, 30px);
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    font-family: "Inter", system-ui;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &-expired {
        filter: blur(6px);
        opacity: 0.6;
        cursor: not-allowed;

        &:hover {
            transform: none;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
    }

    &__popups {
        position: absolute;
        top: 10px;
        display: flex;
        gap: 8px;
        z-index: 10;
        padding: 8px 8px;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: linear-gradient(90deg, var(--color-primary-dark), var(--color-primary-light));
    }

    &__timer {
        left: 10px;
    }

    &__badge {
        right: 10px;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px;
        color: #fff;
        text-align: center;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
    }

    &__gradient-overlay {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        pointer-events: none;
    }
}