.chats-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow: hidden;

    &__sidebar {
        width: 400px;
        min-width: 400px;
        height: 100%;
        border-right: 1px solid #ffd1dd;
        display: flex;
        flex-direction: column;
        background: #fff;
    }

    &__header {
        padding: 24px;
        border-bottom: 1px solid #ffd1dd;
        background: #fff;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        color: #ff477e;
    }

    &__list {
        flex: 1;
        overflow-y: auto;
        background: #fff;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 71, 126, 0.3);
            border-radius: 3px;
        }
    }

    &__main {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__window {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }
}
