<div class="chats-page">
    <div class="chats-page__sidebar">
        <div class="chats-page__header">
            <h1 class="chats-page__title">Чаты</h1>
        </div>
        <div id="chatsListContainer" class="chats-page__list"></div>
    </div>
    <div class="chats-page__main">
        <div id="chatWindowContainer" class="chats-page__window"></div>
    </div>
</div>