<div class="main-page-layout">
    <div class="cards-container">
        {{{cardsHtml}}}   
    </div>
    <div class="card-info-panel" id="cardInfoPanel">
        <!-- Информация о текущей карточке будет отображаться здесь -->
    </div>
</div>