<header class="header">
    <div class="header__content">
        
        <div class="header__right">
            {{#if isAuthenticated}}
                <span class="header__welcome-text" id="userEmailBtn">Привет, {{userName}}</span>
                
            {{/if}}
        </div>
    </div>
</header>