.app-header {
    height: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 100%;
}


welcome-text {
    color: black;
    font-weight: 700;
    font-size: 32px;
}

.welcome-text {
    font-size: 18px;
    font-weight: 700;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.logout-btn {
    background: rgba(255,255,255,0.2);
    color: var(--color-primary-light);
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 25px;
    background-color: #ffffff;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 88, 100, 0.2);
    font-weight: 700;
    font-size: 16px;
}

.logout-btn:hover {
    transform: translateY(-2px);
}