<header class="header">
    <div class="header__content">
        
        <div class="header__right">
            {{#if isAuthenticated}}
                <span class="header__welcome-text">Привет, {{userName}}!</span>
                <button id="logoutBtn" class="header__logout-btn">
                    <span>Выйти</span>
                </button>
            {{/if}}
        </div>
    </div>
</header>