.app-header {
    background: linear-gradient(90deg, #ff4b72 50%, rgba(255, 153, 168, 0) 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 100%;
}

.title-with-heart {
    display: flex;
    align-items: center;
    gap: 15px;
}


.app-title, .welcome-text {
    color: white;
    font-weight: 700;
    font-size: 32px;
    font-family: "Semantic", system-ui;
}

.welcome-text {
    font-size: 18px;
    font-weight: 700;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logout-btn {
    background: rgba(255,255,255,0.2);
    color: var(--color-primary-light);
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 25px;
    background-color: #ffffff;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 88, 100, 0.2);
    font-weight: 700;
    font-size: 16px;
}

.logout-btn:hover {
    transform: translateY(-2px);
}

body {
    padding-top: 80px;
}