<div class="header-container"></div>

<div class="auth-background">
    <div class="circle-activity-tablet" aria-hidden="true">
        Сайт для поиска друзей и партнеров
    </div>
</div>

<div class="container">
    <div class="form-container">
        <h1 class="form-title">Вход</h1>
        
        {{#if error}}
            <div class="error">{{error}}</div>
        {{/if}}
        
        <form id="loginForm">
            <input type="email" id="email" class="form-input" placeholder="Email" required>
            <input type="password" id="password" class="form-input" placeholder="Пароль" required>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        
        <div class="link">
            Нет аккаунта? <a href="/register" Link> Зарегистрироваться </a>
        </div>
    </div>
</div>