<div class="matches-page">
    {{#if noMatches}}
        <div class="matches-page__empty">
            {{{emptyState}}}
        </div>
    {{else}}
        <div class="matches-page__grid">
            {{{matchesHtml}}}
        </div>
    {{/if}}
</div>
