<div class="matches-page">
    <div class="matches-page__grid">
        {{#each matches}}
            {{{this}}}
        {{/each}}
    </div>
    
    {{#if noMatches}}
    <div class="matches-page__matches">
        <p class = ".matches-page__p">У вас пока нет мэтчей</p>
    </div>
    {{/if}}
</div>
