<nav class="main-nav">
  <ul id="main-nav-list">
    <li><a href="/" Link>Лента</a></li>
    <li><a href="/matches" Link>Мэтчи</a></li>
    <li><a href="/chats" Link>Чаты</a></li>
    <li><a href="/profile" Link>Профиль</a></li>
  </ul>
  <button id="menu-toggle" aria-expanded="false" aria-controls="nav-menu">
    Menu
  </button>
</nav>